.menu {
  position: absolute;
  background-color: #ec823a;
  color: #f9c49a;
  z-index: 30;
}

.menu--left {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  justify-content: center;
  z-index: 100;
}
.menu--full {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  padding: 0;
  list-style: none;
}

.menu-list--left {
  margin: 100px 24px;
}

.menu-list-item--full {
  font-size: 5em;
  margin: 40px 0;
}

.menu-list-item {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 1px;
}

.menu-list-item--left {
  margin: 2rem;
  font-size: x-large;
}

.menu a {
  text-decoration: none;
  color: #7c3c21;
}

.menu a:hover,
.menu a:focus {
  color: #e8e4e1;
}
