.card {
  overflow: hidden;
  margin: 1rem;
  border: 1px solid black;
  width: 18rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 7px;
}
.card-table {
  margin-top: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
}

.card-img {
  width: 100%;
  max-width: 25vw;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .card {
    overflow: hidden;
    border: 1px solid black;
    height: 12rem;
    width: 70vw;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
}
