.card {
  /* background: #7c3c21; */
  /* color: #e8e4e1; */
  overflow: hidden;
  margin: 1rem;
  border: 1px solid black;
  letter-spacing: 1px;
  width: 18rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 7px;
  z-index: 1;
  -webkit-box-shadow: 0 4px 3px -4px black;
  -moz-box-shadow: 0 4px 3px -4x black;
  box-shadow: 0 4px 3px -4px black;
}
.card-img {
  filter: brightness(50%);
  width: 100%;
  max-width: 25vw;
  height: auto;
  border-radius: 0.5rem;
}
.card-img-open {
  filter: brightness(100%);
  width: auto;
  max-height: 50%;
  max-width: 60%;
  height: auto;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.card-details {
  letter-spacing: 1px;
}
.card-links {
  --link-hover-color: #ec823a;
  --link-color: #e8e4e1;
  display: flex;
  justify-content: space-evenly;
  font-size: 5rem;
}

.card-project-summary {
  display: "flex";
  padding-top: 1rem;
  padding-left: 12%;
  padding-right: 12%;
  justify-content: space-around;
  align-items: space-around;
}
.div-project-summary {
  align-self: center;
}
.card-selected {
  /* filter: brightness(100%); */
  border: 1px solid #ec823a;
  max-width: 100vw;
  z-index: 1;
}
.card-selected .card-img {
  filter: brightness(100%);
}
.card-open {
  filter: brightness(100%);
  letter-spacing: 1px;
  z-index: 100;
  position: fixed;
  overflow-y: scroll;
  top: 5vw;
  left: 0.5;
  width: 90vw;
  height: 90vh;
  background-color: #7c3c21;
  color: #e8e4e1;
  border-radius: 1rem;
  -webkit-box-shadow: 0 7px 5px -5px black;
  -moz-box-shadow: 0 7px 5px -5px black;
  box-shadow: 0 7px 5px -5px black;
}
.card-table {
  margin-top: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
}

.card-table-dim {
  filter: brightness(20%);
}

.card-img-portrait {
  filter: brightness(50%);
  height: 80%;
  width: auto;
  border-radius: 0.5rem;
}
.card-selected .card-img-portrait {
  filter: brightness(100%);
}
@media only screen and (max-width: 700px) {
  .card {
    border: 1px solid black;
    height: 12rem;
    width: 70vw;
  }
  .card-selected {
    border: 1px solid #ec823a;
  }
  .card-img {
    filter: brightness(25%);
    width: 100%;
    height: auto;
  }
  .card-selected .card-img {
    filter: brightness(100%);
  }
  .card-project-summary {
    display: "flex";
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-justify: left;
  }
}
