.App {
  text-align: center;
  box-sizing: inherit;
}

.menu-button--full {
  top: 40px;
  right: 20px;
}
.menu-button--left {
  top: 40px;
  left: 20px;
}

.menu-button {
  z-index: 40;
  border: none;
  position: fixed;
  top: 40px;
  /* left: 20px; */
  /* right: 20px; */
  padding: 12px;
  font-size: 1em;
  background: none;
  background: #fff;
  color: #692969;
  transition: background 0.1s linear;
  cursor: pointer;
}
.menu-button-active {
  opacity: 0.2;
}
.menu-button-hidden {
  display: none;
}
.menu-button:hover,
.menu-button:focus {
  background: #f9c49a;
}
.page-container {
  margin-left: 250px;
}
/* Small */

@media only screen and (max-width: 900px) {
  /* body {
    background-color: blue;
  } */
  .page-container {
    display: flex;
    margin-left: 0px;
  }
  .menu--left {
    display: None;
  }
  .show-modal-button {
    left: calc(50vw - 100px);
    align-self: auto;
  }
  .modal {
    left: calc(50% - 200px);
  }
}

@media screen and (min-width: 900px) {
  .menu-button--full {
    display: none;
  }
}
